@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
// @import "base/colors";
@import "base/typography"; 

/*----------  helpers
------------------------------------------------------------------------------*/
// @import "helpers/mixins";   
// @import "helpers/functions"; 

/*----------  components
------------------------------------------------------------------------------*/
// @import "components/cover";
// @import "components/icons";
// @import "components/buttons";
// @import "components/carousel";
// @import "components/dropdown";
// @import "components/navigation";
/*----------  libs
------------------------------------------------------------------------------*/

/*----------  layout
------------------------------------------------------------------------------*/
// @import "layout/forms";
// @import "layout/header"; 
// @import "layout/footer";    
// @import "layout/sidebar";  
// @import "layout/grid";  
  

/*----------  pages
------------------------------------------------------------------------------*/

/*----------  themes
------------------------------------------------------------------------------*/

/*----------  vendors
------------------------------------------------------------------------------*/ 

 
* {
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0,0);
    border: 0;
}

@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

body {
  background: #f0f8ea;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 100%;
//   max-width: 1000px;
//   margin: 0 auto;
  margin: 0;
  border: 1px solid black;
}

header {
  background: #e54b4b;
  color: #ebebd3;
  padding: 1em 0;
  position: relative;
}

// header::after {
//   content: "";
//   clear: both;
//   display: block;
// }

// .logo {
//   float: left;
//   font-size: 1rem;
//   margin: 0;
//   text-transform: uppercase;
//   font-weight: 700;
// }


.primary-navigation {
  position: absolute;
  top: calc(100% + 20px);
  right: 0%;
  background: #464655;
  transition: clip-path ease-in-out 700ms;
  margin: 0;
  padding: 0;
  list-style: none;
  // border: 1px solid yellow;
}

.primary-navigation::before {
  position: absolute;
  z-index: 100;
  bottom: 100%;
  right: 0%;
  content: "";
  display: block;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid green;
  
  border-left: 20px solid transparent;
}

.primary-navigation[data-state="opened"] {
  animation: clipPathCircleOpen 750ms ease-in-out forwards;
  display: block;
}

.primary-navigation[data-state="closing"] {
  animation: clipPathCircleClose 750ms ease-in-out forwards;
}
.primary-navigation[data-state="closed"] {
  display: none;
}



@keyframes clipPathCircleOpen {
  0% { clip-path: circle(0% at top right); }
  100% { clip-path: circle(250% at top right); }
}
@keyframes clipPathCircleClose {
  0% { clip-path: circle(250% at top right); }
  100% { clip-path: circle(0% at top right); }
}

.site-nav--inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  height: 100%;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #ebebd3;
  display: block;
  
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #e4b363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, 0.4);
}

.menu-toggle {
  padding: 1em;
  background: transparent;
  border: 0;
  position: absolute;
  // top: 0.5em;
  top: 1em;
  right: 0.5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

[aria-expanded="true"] .hamburger {
  transform: rotate(45deg);
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
}

[aria-expanded="true"] .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (min-width: 800px) {
  .primary-navigation,
  .primary-navigation[data-state="closed"] {
    display: flex;
    flex-direction: row;
    top: 50%;
    transform: translateY(-50%);    
  }
  .primary-navigation::before {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
  .site-nav a {    
    padding: 0 1em;    
  }
}