.testimonials {
    padding-top: 62px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
    h3 {
        font-size: 16px;
        color: $neutral_lvl_2;
        text-transform: uppercase;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 4.08px;
        margin-bottom: 64px;
    }
    p {
        color: $neutral_lvl_3;
    }
}